@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 252 17% 97%; /* #F4F3F7 */
    --foreground: 240 10% 3.9%;
    --card: 252 17% 97%;
    --card-foreground: 240 10% 3.9%;
    --popover: 252 17% 97%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 248 39% 35%; /* #41367D */
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 217 84% 57%; /* #3C83ED */
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 248 39% 35%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 60 9.1% 97.8%;
    --card: 240 10% 3.9%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 248 39% 35%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 217 84% 57%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 248 39% 35%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
